@import '@/variaveis/variaveis';

.modal-content {

    h1 {
        margin: 0;
    }

    .modal-header {

        background: linear-gradient(177deg, rgba(222,222,222,1) 0%, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 50%, rgb(31, 31, 31) 100%);

        .modal-title {
            color: $branco;
            font-weight: $bold;
        }

    }
}