@import '@/variaveis/variaveis';

.navbar-dark {
    background: rgb(222,222,222);
    background: linear-gradient(177deg, rgba(222,222,222,1) 0%, $preto 0%, rgba(20,20,20,1) 50%, rgba(57,57,57,1) 100%);
    padding: $padding;

    .nav-link{
        color: $branco;
        font-weight: $bold;
        text-transform: $uppercase;
        display: inline-block;
        position: relative;
    }
      
      .nav-link:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $branco;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .nav-link:hover {
        transition: 0.2s ease;
      }
      
      .nav-link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}