@import '@/variaveis/variaveis';

.imagem {
    margin-top: $margin;
    border-radius: 70px;
}

h1 {
    color: $branco;
    margin-top: 100px;
}

h5 {
    color: $branco;
    margin-top: $margin;
    margin-bottom: $margin;
    font-style: $italic;
}

.h1 {
    color: $amarelo;
}

p {
    margin-left: $margin;
    font-weight: 500;
}

.function {
    color: $laranja;
}

.nome_funcao {
    color: $amarelo;
}

.return {
    color: $laranja;
    font-style: $italic;
}

.text_return {
    color: greenyellow;
}